body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #2c3e50;
	color: #ecf0f1;
	margin: 0;
	padding: 20px;
}

h1 {
	margin-bottom: 20px;
}

#board {
	width: 400px;
	height: 400px;
	border: 10px solid #34495e;
	background-color: #95a5a6;
	border-radius: 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#board div {
	width: 48px;
	height: 48px;
	border: 1px solid #7f8c8d;
	background-color: #bdc3c7;
	border-radius: 5px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.2s ease, transform 0.2s ease;
}

#board div:hover {
	background-color: #ecf0f1;
	transform: scale(1.05);
}

.tile-clicked {
	background-color: #7f8c8d;
	color: #2c3e50;
	transform: scale(1);
}

.x1 {
	color: #2980b9;
}

.x2 {
	color: #27ae60;
}

.x3 {
	color: #c0392b;
}

.x4 {
	color: #8e44ad;
}

.x5 {
	color: #d35400;
}

.x6 {
	color: #16a085;
}

.x7 {
	color: #2c3e50;
}

.x8 {
	color: #7f8c8d;
}

#flag-button,
#restart-button {
	width: 100px;
	height: 50px;
	font-size: 30px;
	background-color: #e74c3c;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	margin-right: 30px;
}

#flag-button:hover {
	background-color: #c0392b;
}
